.container{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.logo{
    font-weight: bold;
    font-size: 30px;
    color: black;
    
}

.links{
    display: flex;
    align-items: center;
    gap: 20px;
}

.link{
    font-size: 17px;
    font-weight: 300;
}