@tailwind base;
@tailwind components;
@tailwind utilities;

@layer{
    html, 
    body{
        color: #727272;
    }
}

.menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container{
    display: flex;
    align-items: center;
}

label, input, textarea{
    display: block;
}

input, textarea{
    border: 0.1px solid #d0d0d0;;
    width: 100%;
    border-radius: 5px;
    height: 40px;
    margin-top: 5px;
}

label{
    font-weight: lighter;
}

