@tailwind base;
@tailwind components;
@tailwind utilities;

button, [type='button'], [type='reset'], [type='submit'] {
    background-color: hsla(43, 4%, 64%, 1);
    height: 45px;
}

@layer{
    html{
        color: #727272;
        width: 100%;
        padding: 35px;
        
        @media not all and (min-width:1024px) {padding:20px;  margin:0px;}
        
        
    }
    
}

.menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container{
    display: flex;
    align-items: center;
}

label, input, textarea{
    display: block;
}

input{
    border: 0.1px solid #d0d0d0;;
    width: 100%;
    border-radius: 5px;
    height: 45px;
    
}

textarea{
    border: 0.1px solid #d0d0d0;;
    width: 100%;
    border-radius: 5px;
    min-height: 180px;
    margin-top: 5px;
}

label{
    font-weight: 200;
}

button{
    height: 52px;
}

.heading{
    display: flex;
    justify-content: center;
    margin: 50px 0;
    font-weight: 200;
    font-size: 28px;
    margin-bottom: 150px;
}

input ::placeholder{
    padding-left: 10px;
}


